{% extends 'librus/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-md-4 col-lg-6 mt-4 mx-auto">
            <h1 class="liobrus_title text-center mt-3 mb-5">Liobrus</h1>
            <p class="text-center mb-5 page_info">Wizualizacja twoich ocen.</p>
            <form action="." method='POST'>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary btn-block" type="submit">Zaloguj</button>
                <p class="text-muted text-center mt-3">Nie masz jeszcze konta ? <a class="new_info" href="{% url 'register' %}">Utwórz konto</a>.</p>
            </form>
        </div>
    </div>

{% endblock %}
