{% extends "librus/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="liobrus_title text-center mt-3 mb-5">Liobrus</h1>
            <p class="text-center aktualizacja_info">Wpisz w poniższe pola dane logowania do serwisu
                <a href="http://synergia.librus.pl" target="_blank">synergia.librus.pl</a>, aby zaktualizować dane.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mx-auto mt-5 mb-3">
            <form action='.' method='POST'>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block">Zaktualizuj dane</button>
            </form>
        </div>
    </div>

{% endblock %}