{% extends "librus/base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="row">
        <div class="col-md-8 col-lg-8 mt-5 mx-auto">
            <h1 class="text-center mt-2">Wiadomości</h1>
            <h5 class="text-center mt-3 mb-4">Liczba wiadomości: {{ liczba_wiad }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-4 col-lg-10 mx-auto">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nadawca</th>
                    <th scope="col">Temat</th>
                    <th scope="col">Wysłano</th>
                </tr>
                </thead>
                <tbody>
                {% for wiad in object_list %}
                <tr>
                    <td>{{ wiad.nadawca }}</td>
                    <td><a href="{% url 'wiadomosc_detail' pk=wiad.pk %}">{{ wiad.temat }}</a></td>
                    <td>{{ wiad.data_wyslania }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}